<a href="https://colab.research.google.com/github/rocio2125/ONLINE_DS_THEBRIDGE_rocioortiz/blob/main/Parte_3_P%C3%ADldora_7_Jupyter_DS_01_01_02_N04_V07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src = "./img/TheBridge_logo_RGB_color.jpg" width = 500><img src = "./img/python.jpg" width = 500>

# Python Basics I

## Contenidos

* [Conversión de tipos
](#Conversión-de-tipos
)
* [Input
](#Input
)
* [None
](#None
)
* [Sintaxis y best practices
](#Sintaxis-y-best-practices
)

## Conversión de tipos
[al indice](#Contenidos)
Como en otros lenguajes, en Python también tenemos la posibilidad de realizar conversiones entre los tipos de datos. Hasta ahora hemos visto pocos, pero cuando descubramos más tipos de datos y objetos, verás que son muy comunes estas transformaciones.

Un caso muy habitual es leer un archivo datos numéricos, y que Python interprete los números como caracteres. No es un error, pero posteriormente, cuando hagamos operaciones con nuestros números, tendremos errores, ya que en realidad son cadenas de texto. Si forzamos el cambio a numerico, nos evitaremos futuros problemas.

**Mucho cuidado en los cambios de tipos**. Tenemos que estar seguros de lo que hacemos ya que podemos perder información, o lo más probable, puede dar error, al no ser compatible el cambio.

Veamos como cambiar los tipos

In [2]:
print("Hola mundo")
num_real= 24.69
print(type(num_real))

num_entero = int(num_real)
print(num_entero)
print(type(num_entero))

Hola mundo
<class 'float'>
24
<class 'int'>

Perdemos unos decimales, normalmente nada grave, aunque depende de la aplicación.

**NOTA**: si lo que queremos es redondear, podemos usar la función `round()`

In [5]:
# Esta funcion tiene dos argumentos: el número y la cantidad de decimales que queremos conservar.
# Veremos funciones más adelante.
num_real = 24.686
num_redondeado = round(num_real, 0)
print(num_redondeado)
print(type(num_redondeado))

25.0
<class 'float'>

Para pasar de un **numero a string**, no hay problema

In [4]:
num_real= 24.69
print(type(num_real))
num_texto = str(num_real)
print(num_texto)
print(type(num_texto))

<class 'float'>
24.69
<class 'str'>

De **String a un número** tampoco suele haber problema. Hay que tener mucho cuidado con los puntos de los decimales. **Puntos, NO comas**

In [14]:

mi_cadena = "98.874"
mi_entero = float(mi_cadena)
print(mi_cadena, type(mi_cadena))
print(mi_entero, type(mi_entero))

98.874 <class 'str'>
98.874 <class 'float'>

In [11]:
mi_cadena = "98.4"
mi_entero = int(mi_cadena)
print(mi_cadena, type(mi_cadena))
print(mi_entero, type(mi_entero))

ValueError: invalid literal for int() with base 10: '98.4'

Pasar de **numero a boleano y viceversa**, tambien es bastante sencillo. Simplemente ten en cuenta que los 0s son `False`, y el resto de numeros equivalen a un `True`

In [20]:
booleano = bool("texto")
print(booleano, type(booleano))

True <class 'bool'>

In [22]:

bool_str = str(booleano)
print(bool_str, type(booleano))

True <class 'bool'>

En el caso de transformar **String a booleano**, los strings vacíos serán `False`, mientras que los que tengan cualquier cadena, equivaldrán a `True`.

Sin embargo, si la operación es la inversa, el booleano `True` pasará a valer una cadena de texto como `True`, y para `False` lo mismo.

<table align="left">
 <tr><td width="80"><img src="img/error.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>ERRORES en conversion de tipos</h3>
         
 </td></tr>
</table>

Ojo si intentamos pasar a entero un string con pinta de real. En cuanto lleva el punto, ya tiene que ser un numero real. A no ser que lo pasemos a real y posteriormente a entero (`int()`), o usando el `round()` como vimos anteriormente

Si leemos datos con decimales y tenemos comas en vez de puntos, habrá errores.

In [23]:
real_str = "68,34"
real_str.replace(",",".")

'68.34'

Para solventar esto utilizaremos funciones que sustituyan unos caracteres por otros

In [25]:
nuevo_str = float(real_str.replace(",","."))
print(nuevo_str, type(nuevo_str))

68.34 <class 'float'>

Es fudndamental operar con los mismos tipos de datos. Mira lo que ocurre cuando sumamos texto con un numero. Da un `TypeError`. Básicamente nos dice que no puedes concatenar un texto con un numero entero

## Input
[al indice](#Contenidos)
Esta sentencia se usa en Python para recoger un valor que escriba el usuario del programa. Los programas suelen funcionar de esa manera, reciben un input, realizan operaciones, y acaban sacando un output para el usuario.

Por ejemplo, en la siguiente celda recojo un input, que luego podremos usar en celdas posteriores.

**CUIDADO**. Si corres una celda con un `input()` el programa se queda esperando a que el usuario meta un valor. Si en el momento en el que está esperando, vuelves a correr la misma celda, se te puede quedar pillado, depende del ordendaor/versión de Jupyter. Si eso ocurre, pincha en la celda y dale despues al botón de stop de arriba, o sino a Kernel -> Restart Kernel...

In [26]:
primer_input = input("escibe algo")

escibe algo 0

In [27]:
primer_input

'0'

Puedes poner ints, floats, strings, lo que quieras recoger en texto plano.

Mira que fácil es hacer un chatbot un poco tonto, mediante el que hacemos preguntas al usuario, y almacenamos sus respuestas.

In [28]:
nombre = input("¿cúal es tu nombre?")
print("encantado de conocerte", nombre)

¿cúal es tu nombre? yo

encantado de conocerte yo

## None
[al indice](#Contenidos)
Palabra reservada en Python para designar al valor nulo. `None` no es 0, tampoco es un string vacio, ni `False`, simplemente es un tipo de datos más para representar el conjunto vacío.

In [30]:
print(type("None"))

<class 'str'>

## Sintaxis y best practices
[al indice](#Contenidos)
A la hora de escribir en Python, existen ciertas normas que hay que tener en cuenta:
* Todo lo que abras, lo tienes que cerrar: paréntesis, llaves, corchetes...
* Los decimales se ponen con puntos `.`
* Best practices
    * **Caracteres**: NO se recomienda usar Ñs, acentos o caracteres raros (ª,º,@,ç...) en el codigo. Ponerlo únicamente en los comentarios.
    * **Espacios**: NO usar espacios en los nombres de las variables ni de las funciones. Se recomienda usar guión bajo para simular el espacio. O también juntar las palabras y usar mayuscula para diferenciarlas `miVariable`. Lo normal es todo minúscula y guiones bajos
    * Ahora bien, sí se recomienda usar espacios entre cada comando, para facilitar la lectura, aunque esto ya es más cuestión de gustos. `mi_variable = 36`.
    * Se suelen declarar las variables en minuscula.
    * Las constantes (variables que no van a cambiar nunca) en mayuscula. `MI_PAIS = "España"`
    * **Cada sentencia en una linea**. Se puede usar el `;` para declarar varias variables, pero no es lo habitual
    * **Comentarios**: TODOS los que se pueda. Nunca sabes cuándo otra persona va a coger tu espectacular código, o si tu *yo* del futuro se acordará de por qué hiciste ese bucle while en vez de un for.
    * **Case sensitive**: sensible a mayusculas y minusculas. CUIDADO con esto cuando declaremos variables o usemos Strings
    * **Sintaxis de línea**: para una correcta lectura del codigo lo mejor es aplicar sintaxis de línea en la medida de lo posible

In [ ]:
# A esto nos referimos con sintaxis de línea
lista_compra = ['Manzanas',
               'Galletas',
               'Pollo',
               'Cereales']

### The Zen of Python
Cualquier consejo que te haya podido dar hasta ahora se queda en nada comparado con los 20 principios que definió *Tim Peters* en 1999. Uno de los mayores colaboradores en la creación de este lenguaje

In [32]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!